header {
    background-color: #4682b4;
    padding: 10px;
    margin-left: -8px;
    margin-top: -8px;
    text-align: center;
    font-family: arial;
    font-weight: bold;
}
#menu {
    width: 6%;
    height: 400px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px black;
    border-radius: 18px;
    text-align: center;
    margin-left: 200px;
    margin-top: 50px
}
#base {
    height: 20px;
    font-weight: bold;
    width: 80%;
    margin-left: 6px;
    font-size: 16px;
    background-color: #fff;
    border: 0;
    cursor: pointer;
}
#role {
    height: 40px;
    font-size: 16px;
    margin-top: -40px;
    font-weight: bold;
    height: 40px;
    width: 77%;
    margin-left: 6px;
    background-color: #fff;
    border: 0;
    cursor: pointer;
}
#person {
    height: 40px;
    margin-top: -45px;
    font-weight: bold;
    font-size: 15px;
    width: 90%;
    height: 37px;
    margin-left: 1px;
    background-color: #fff;
    border: 0;
    cursor: pointer;
}
#stat {
    height: 36px;
    margin-top: -56px;
    font-weight: bold;
    font-size: 14px;
    width: 91%;
    margin-left: -3px;
    background-color: #fff;
    border: 0;
    cursor: pointer;

}
#team {
    height: 37px;
    margin-top: -70px;
    font-weight: bold;
    font-size: 16px;
    width: 80%;
    margin-left: 3px;
    background-color: #fff;
    border: 0;
    cursor: pointer;
}
#feedback {
    height: 50px;
    margin-top: -80px;
    font-weight: bold;
    font-size: 14px;
    width: 80%;
    margin-left: 3px;
    background-color: #fff;
    border: 0;
    cursor: pointer;
}
#feedbacksaves {
    height: 50px;
    margin-top: -70px;
    font-weight: bold;
    font-size: 14px;
    margin-left: 8px;
    width: 70%;
    background-color: #fff;
    border: 0;
    cursor: pointer;
}
#art-base {
    background-color: #fff;
    width: 50%;
    margin-left: 370px;
    margin-top: -380px;
    padding: 5px;
    box-shadow: 0 4px 8px black;
    border-radius: 18px;
}
.image {
    width: 20%;
    height: 200px;
    margin-left: 550px;
    margin-top: 10px;
}
.ren {
    width: 100px;
}
.ar1 {
    margin-left: 120px;
    font-weight: bold;
    margin-top: -100px;
    margin-bottom: 10px;
}
.nov {
    width: 100px;
    margin-left: 200px;
    margin-top: -10px;
}
.chan {
    width: 100px;
}
.ar2 {
    font-weight: bold;
    margin-left: 120px;
    margin-top: -70px;
}
.lans {
    margin-left: 200px;
}
.ar3 {
    font-weight: bold;
    margin-left: 120px;
    margin-top: -80px;
}
.fred {
    margin-left: 200px;
}
.ar4 {
    font-weight: bold;
    margin-left: 200px;
    margin-top: -80px;
}
.flor {
    margin-left: 200px;
}
.ega {
    height: 110px
}
.ar5 {
    font-weight: bold;
    margin-left: 120px;
    margin-top: -100px;
}
.han {
    margin-left: 200px;
}
.nov1 {
    margin-top: -80px;
    margin-bottom: 30px;
    margin-left: 40px;
}
.art1 {
    margin-left: 120px;
    margin-bottom: -43px;
    margin-top: -20px;
    font-weight: bold;
}
.chan1 {
    margin-left: 350px;
    margin-top: -200px;

}
.art2 {
    margin-left: 340px;
    font-weight: bold;
    margin-top: 2px;
}
.lans1 {
    margin-bottom: 15px;
    margin-left: 40px;
}
.art3 {
    margin-bottom: -43px;
    margin-left: 120px;
    font-weight: bold;
    margin-top: -12px;
}
.baks1 {
    margin-left: 350px;
    margin-top: -200px;
}
.art4 {
    font-weight: bold;
    margin-left: 340px;
    margin-top: 2px;
}
.fred1 {
    margin-bottom: 15px;
    margin-left: 40px;
}
.art5 {
    margin-bottom: -43px;
    margin-left: 120px;
    font-weight: bold;
    margin-top: -12px;
}
.chong1 {
    margin-left: 350px;
    margin-top: -200px;
}
.art6 {
    font-weight: bold;
    margin-left: 340px;
    margin-top: 2px;
}
.flor1 {
    margin-bottom: 15px;
    margin-left: 40px;
}
.art7 {
    margin-bottom: -64px;
    margin-left: 120px;
    font-weight: bold;
    margin-top: -12px;
    width: 23%;
}
.raf1 {
    margin-left: 350px;
    margin-top: -210px;
}
.art8 {
    font-weight: bold;
    margin-left: 340px;
    margin-top: 2px;
}
.han1 {
    margin-bottom: 15px;
    margin-left: 40px;
}
.art9 {
    margin-bottom: -43px;
    margin-left: 120px;
    font-weight: bold;
    margin-top: -12px;
}
.les1 {
    margin-left: 350px;
    margin-top: -200px;
}
.art10 {
    font-weight: bold;
    margin-left: 340px;
    margin-top: 2px;
}
.name1 {
    margin-left: 120px;
    margin-top: -100px;
}
.ab1 {
    width: 50%;
    margin-left: 120px;
    margin-top: -20px;
    font-weight: bold;
    margin-bottom: 50px;
}
.name2 {
    margin-left: 120px;
    margin-top: -80px;
}
.ab2 {
    width: 50%;
    margin-left: 120px;
    margin-top: -20px;
    font-weight: bold;
    margin-bottom: 50px;
}
.name3 {
    margin-left: 120px;
    margin-top: -80px;
}
.ab3 {
    width: 50%;
    margin-left: 120px;
    margin-top: -20px;
    font-weight: bold;
    margin-bottom: 50px;
}
.name4 {
    margin-left: 120px;
    margin-top: -100px;
}
.ab4 {
    width: 50%;
    margin-left: 120px;
    margin-top: -20px;
    font-weight: bold;
    margin-bottom: 50px;
}
.name5 {
    margin-left: 120px;
    margin-top: -130px;
}
.ab5 {
    width: 50%;
    margin-left: 120px;
    margin-top: -20px;
    font-weight: bold;
    margin-bottom: 50px;
}
